/* colors.css */
:root {
  --bar-color: #8AB2A6;              /* Blue #8AB2A6 */
  --background-color: #3E3F5B;          /* Navy */
  --primary-color: #F6F1DE;             /* Beige White */
  --secondary-color: #ACD3A8;          /* Gold #ACD3A8 */
}